.off {
  background-color: #DEB887;
}
.off h2 {
  color: #8B4513;
}

.on {
  background-color: #4B0082;
}

.on h2 {
  color: #DD99FF;
}

.container {
  padding-top: 200px;
  margin: auto;
}

#flux {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}